[Unit]
Description=X Wayland Satellite
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 20
ExecStart=/usr/bin/xwayland-satellite :12 --ignore-fractional-scale
Restart=never
#Environment="XDG_SESSION_ID=2"

[Install]
WantedBy=graphical-session.target
